{% extends "base.html" %}


{% block content %}
	<h4>My details</h4>
	<p>
	You are {{ user.given_name }} {{ user.surname }}, known as <tt>{{ user.uid }}</tt>
	</p>
	<p>
	Your primary e-mail is <tt>{{ user.mail }}</tt>.
	</p>
	<p>
	{% if user.mail_aliases %}
	You have following e-mail aliases:
	<ul>
		{% for alias in user.mail_aliases %}
		<li><tt>{{ alias }}</tt></li>
		{% endfor %}
	</ul>
	{% else %}
	You have no e-mail aliases.
	{% endif %}
	</p>
	{% if user.shared_inboxes %}
	<p>
	You have following shared e-mail inboxes:
	<ul>
		{% for email in user.shared_inboxes %}
		<li><tt>{{ email }}</tt></li>
		{% endfor %}
	</ul>
	</p>
	{% else %}
	You have no shared e-mail inboxes.
	{% endif %}
	<p>
	You can change contents of fields below by yourself.
	In order to change anything, you need to specify your current password.
	<form method="POST" enctype="multipart/form-data" action="{{ bp_prefix }}users/{{ user.uid }}"/>
		{{ details_form.hidden_tag() }}
		{{ details_form.name.label }} {{ details_form.name(size=40) }} <br/>
		{{ details_form.surname.label }} {{ details_form.surname(size=40) }} <br/>
		{{ details_form.new_password.label }} {{ details_form.new_password(size=20) }} <br/>
		{{ details_form.new_password_confirm.label }} {{ details_form.new_password_confirm(size=20) }} <br/>
		{{ details_form.avatar.label }} {{ details_form.avatar() }} <br/>
		{{ details_form.password.label }} {{ details_form.password(size=20) }} <br/>
		<input type="submit" class="btn btn-primary" value="Update Specified Fields">
	</form>
	</p>
{% endblock %}
