{% extends "base.html" %}

{% block content %}
	<h4>Reset</h4>
	<p>
	To reset password to a user, you have to specify their username (mail witout <tt>@cspii.org</tt>), and their recovery e-mail.
	</p>
	<p>
	<form method="POST" action="{{ url_for('divisions_api.admin_api') }}"/>
		{{ details_form.hidden_tag() }}
		{{ details_form.username.label }} {{ details_form.username(size=40) }} <br/>
		{{ details_form.email.label }} {{ details_form.email(size=40) }} <br/>
		<input type="submit" class="btn btn-primary" value="Send">
	</form>
	</p>
{% endblock %}
